@media only screen and (min-width: 800px) {
/* ====================== Large View Restaurant Details ====================== */
nav h1 a {
    letter-spacing: 3.0px;
    line-height: 4.0;
    font-size: 105%;
    width: 100%;
  }
  .inside #restaurant-container{
  width: 45%;
  }
  .inside #reviews-container {
    width: 42%;
  }
  .inside #footer {
    margin-top: 20px;
    width: 90%;
    }
  .inside #reviews-list li {
    width: 100%;
    box-shadow: 0 0 2px 2px black;
    border-top-left-radius: 10px;
    padding-left: 0px;
    border-width: 0px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .inside #name {
    background: black;
    color: white;
    padding-left: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    flex: 33.33%;
  }
  .inside #date {
    background: black;
    color: #CBCBCB;
    text-align: right;
    width: 100%;
    flex: 33.33%;
  }
  .inside #rating {
    background: #F2A83A;
    color: white;
    width: 30%;
    border-left: 10px;
    border-left-color: #fff;
    border-left-style: solid;
  }
  .inside #comments {
    padding-left: 10px;
    padding-right: 5px;
  }
/* ====================== Large View Main Page ====================== */
  .filter-options h2 {
    width: 100%;
  }

  .filter-options {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  #neighborhoods-select, #cuisines-select {
    width: 25%;
  }

  .filter-options h2 {
    padding-top: 1%;
  }

  #restaurants-list .restaurant-img {
    border-radius: 10px;
    min-width: 25%;
    min-height: 25%;
  }

  #restaurants-list {
    display: flex;
    flex-wrap: wrap;
  }


  #restaurants-list li {
    padding: 5% 5% 0;
    text-align: center;
    border-radius: 10px;
  }